[submodule "found-fluid/lib/forge-std"]
	path = found-fluid/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "found-fluid/lib/openzeppelin-contracts"]
	path = found-fluid/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "found-fluid/lib/protocol-monorepo"]
	path = found-fluid/lib/protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "found-fluid/lib/superfluid-protocol-monorepo"]
	path = found-fluid/lib/superfluid-protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "lib/superfluid-protocol-monorepo"]
	branch = dev
